<!DOCTYPE html>
<head>
  <title>Cover Letter Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Make your Cover Letter</h3>
  <p>A great cover letter is the basis of any career. It should be specific, up to date,
  and well written keeping the position in mind, so give this a try and see for yourself!</p>
  <form action="/" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter your name" required />
    <input type="text" name="degree" placeholder="Enter your university degree" required />
    <input type="text" name="university" placeholder="Enter your university" required/>
    <input type="text" name="job" placeholder="Enter your application job title" required/>
    <input type="text" name="company" placeholder="Enter the company you are applying to" required/>
    <input type="submit" value="Generate Letter" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>

<footer>
  <p>Powered by OpenAI</p>
</footer>
